@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: rgba(0,0,0);
  max: width 144px;;
}

/*Shared Style   */
.display-flex{
    display: flex;

}
/* header Style */
.Header{
    max-width: 1440px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(53, 50, 50, 0.952) 100%);
margin-bottom: 100px;

}
.shape{
    font-weight: 300;
    font-size: 10.875rem;
    font-family: 'Miama', sans-serif;
    margin: 0;
    padding: 0;
    overflow:auto;
                                                

}
.plus-350{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    text-align:left ;
    padding: 10px 10px 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
margin-top: -180px;




}
.block-element{
    display: block;
}
.btn-div{
    height:40px;
    width:40px;
    border: 1px solid tomato;
    border-radius: 100%;
    background-color: brown;
    border: none;
    margin-right: 15px;
}
#btn-id{
    font-size: 1.5rem;
    font-weight: 900;
    color: rgba(250, 250, 249);
    margin-bottom: 0px;
    

}
#btn-sub-title{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(239, 237, 232,0.65);
    margin-top: 5px;
}



/* navbar ralated Style */
.navbar{
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
}
.nav-title{
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;
padding: 5px;

    justify-content: center;
    align-items: center;
    
}
.nav-link{
    text-decoration: none;
    color:rgb(255 255 255);
    font-weight: 600;
    font-size: 1.125rem;


}
.nav-item{
    list-style: none; 
    margin-right: 40px;

}
.fitness{
    font-weight:800px;
    font-size: 2.25rem;
    color: rgb(255 255 255);
    
    
}

.btn-primary{
padding: 12px 24px;
font-weight: 600;
font-size: 1.125rem;
color: rgb(255 255 255);
background-color: rgb(230, 83, 60);
border-radius: 46px;
border: none;

}
.btn-b{
padding: 12px 24px;
font-weight: 600;
font-size: 1.125rem;
color: rgb(255 255 255);
background-color: rgb(230, 83, 60);
border-radius: 46px;
border: none;
}








/* banner Style */

.banner{
    display: flex;
    /* justify-content: center; */
    /* align-content: center; */
    margin-left: 150px;
    margin-right: 200px;
}

.banner-h{

    font-weight: 900;
    font-size: 4.875rem;
    color: rgb(255 255 255);




}
.banner-p{
    font-weight: 400;
    font-size: 1rem;
    color: rgb(255 255 255);
}
.banner-contant{
    margin-bottom: 75px;
}

/* new section */
.our-habits{

}
.habits-title{
text-align: center;
margin-bottom: 50px;
width: 640px;
margin: auto;
margin-bottom: 50px;

}
.habit-h2{
font-size: 3rem;
font-weight: 900;
color: rgb(255 255 255);
margin-bottom: 20px;
}
.habit-p{
    font-size: 0.875rem;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.5) ;
    

}

.habits-img{

display: grid;
grid-template-columns: repeat(4,1fr);
justify-content: center;
align-items: center;
text-align: center;
margin: 0 200px;

}
.habits-img img{
    border-radius: 100%;
}
.habits-img h4{
    font-size: 1.125rem;
    font-weight: 600;
    color:rgb(255 255 255);
    margin:10px;
}
.habits-img p{
color: rgba(255, 255, 255, 0.5);
font-size:0.875rem ;
font-weight: 400;
margin-top: 0;
}


/* Run Section  */
.run{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 190px;
    margin-right: 190px;
    border-radius: 20px;
    background-color: rgb(34,34,34);
    
  


}
.run-img img {
border-radius: -500px;
}
 .img-resize{
width: 336px;
height: 312px;
/* border: 200px solid saddlebrown; */
/* border-radius:200px; */
} 

.run-h2{
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255 255 255);
}
.run-p{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.run-title{
    margin: 40px 165px 40px 54px;
  
}






























































@media screen and (max-width:576px) {
    .habits-title{
    width: 100%; 
   
}
.habits-title h2{
    font-size: 3rem;
   
}
.habit-p{
    width:70%;
    margin:auto;
    font-size: 1rem;
    
    }
 .habits-img{

display: grid; 
 grid-template-columns: repeat(1,1fr); 
    }
    .img-card{
        margin-bottom: 10px;
    }
    .img-card p{
        font-size: .775rem;
    }




    
}

