@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: rgb(0,0,0);
  max-width 1440px;
}
.hamberger{
    display: none;
}
/*Shared Style   */
.display-flex{
    display: flex;

}
/* header Style */
.Header{
    max-width: 1440px;
    background:linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0.1) 100%);
    padding:50px 190px 0px 190px;
    margin-bottom: 100px;

}
.banner-img{
padding-left: 130px;

}
.banner-gym-img{
    padding: 0px;
    
}
.shape{
    font-weight: 400;
    font-size: 5.8rem;
    font-family: 'Miama', sans-serif;
    /* position:static; */
    padding-left: 0px;
    margin:0;
    /* align-items: center; */
}
#shape-00{
    margin-top:73px;
    position: absolute;
    color:rgb(255, 255, 255);
    font-size: 3.6rem;
    font-weight: 900;
}
.shape-01{
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}
.large{
    font-size: 8rem;
    font-weight: 400;
    margin-top:0;
    padding:0;
    
}
.large-1{
    font-size: 7rem;
    font-weight: 500;
    margin-top:0;
    padding-bottom:5px;
    padding-left: 2px;
    
}
.shape-03{
    font-weight: 900;
    font-size: 3.6rem;

}
.shape-04{
    position: absolute;
margin-top: -75px;
font-weight: 800;
font-size: 3.6rem;
}
.plus-350{
    display: flex;
    align-items: center;
    text-align:left;
    padding:3px 12px 3px 12px;
    border:1px solid rgba(255, 255, 2555, 0.1);
    box-sizing:border-box;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background:rgba(48, 48, 48, 0.54);
    margin-top: -145px;
    margin-left: -90px;
    border:none;
}

.btn-500{
    display: flex;
    align-items: center;
    text-align:left;
    padding: 5px 5px 5px 15px;
    border:1px solid rgba(255, 255, 2555, 0.1);
    box-sizing:border-box;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background:rgba(48, 48, 48, 0.54);
    border: none;
   margin-top: -347px;
   margin-left:235px;
   margin-right: -60px;

}
.banner-img img{
   width:330px;
   height:507px;
   /* padding-right: 50px; */
   padding-top: 0px;
   margin-top:0px;
    /* padding-bottom: 200px; */
}
.btn-div{
    height: 30px;
    width:30px;
    border: 1px solid rgb(230, 83, 60);
    border-radius: 100%;
    background-color: rgb(230, 83, 60);
    border: none;
    margin-right: 10px;
    margin-left:10px;
}
.btn-id{
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(250, 250, 249);
    margin-bottom: 0px;
    

}
.btn-id-350{
    font-size: 1.1rem;
    font-weight: 900;
    color: rgb(250, 250, 249);
    margin-bottom: 0px;

}
.btn-sub-title{
    font-size: 0.8125rem;
    font-weight: 400;
    color: rgba(239, 237, 232,0.65);
    margin-top: 5px;
    padding-right:10px;
}
.btn-sub-title-350{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(239, 237, 232,0.65);
    margin-top: 5px;
    padding-right:10px;
}


/* navbar ralated Style */
.navbar{
    justify-content:space-between;
    align-items:center;
    
    
}
.nav-title{
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius:39px;
padding:5px;
 justify-content: center;
align-items: center;  

}

.nav-link{
    text-decoration: none;
    color:rgb(255 255 255);
    font-weight: 600;
    font-size: 1.125rem;


}
.nav-item{
list-style: none; 
margin-right:40px;

}
.fitness{
    font-weight:800px;
    font-size: 2.25rem;
    color: rgb(230, 83, 60);
    
    
}

.btn-primary{
padding:12px 24px;
font-weight: 600;
font-size: 1.125rem;
color: rgb(255 255 255);
background-color: rgb(230, 83, 60);
border-radius: 46px;
border: none;
}
.btn-b{
margin-top: 20px;
padding: 16px 40px;
font-weight: 600;
font-size: 1.125rem;
color: rgb(255 255 255);
background-color: rgb(230, 83, 60);
border-radius: 46px;
border: none;
}

.btn-b-1{
    background-color:rgb(17, 17, 17);
    margin-left: 10px;
    margin-top: 20px;
    padding: 16px 40px;
    font-weight: 600;
    font-size: 1.125rem;
    color: rgb(255 255 255);
    border-radius: 46px;
    border: 1px solid rgba(255, 255, 255);
    }

.btn-b-01{
    margin-top: 15px;
    padding: 12px 40px;
font-weight: 600;
font-size: 1.125rem;
color: rgb(255 255 255);
background-color: rgb(230, 83, 60);
border-radius: 42px;
border: none;
}




/* banner Style */

.banner{
    display: flex;
    

}

.banner-h{

    font-weight: 900;
    font-size: 4.875rem;
    color: rgb(255 255 255);
    padding:0;
    margin: auto;
    

}
.banner-p{
    font-weight: 400;
    font-size: 1rem;
    color: rgb(255 255 255);
}
.banner-contant{
    margin-bottom: 75px;
}

/* new section */
.our-habits{

}
.habits-title{
text-align: center;
margin-bottom: 50px;
width: 640px;
margin: auto;
margin-bottom: 50px;

}
.habit-h2{
font-size: 3rem;
font-weight: 900;
color: rgb(255 255 255);
margin-bottom: 20px;
}
.habit-p{
    font-size: 0.875rem;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.5) ;
    

}

.habits-img{

display: grid;
grid-template-columns: repeat(4,1fr);
justify-content: center;
align-items: center;
text-align: center;
margin: 0 200px;

}
.habits-img img{
    border-radius: 100%;
}
.habits-img h4{
    font-size: 1.125rem;
    font-weight: 600;
    color:rgb(255 255 255);
    margin:10px;
}
.habits-img p{
color: rgba(255, 255, 255, 0.5);
font-size:0.875rem ;
font-weight: 400;
margin-top: 0;
}


/* Run Section  */
.run{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 190px;
    margin-right: 190px;
    border-radius: 20px;
    background-color: rgb(34,34,34);
    
  


}
.run-img img {
margin-right: 30px;
}
 .img-resize{
width: 330px;
height: 310px;
border-radius: 16px;

} 

.run-h2{
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255 255 255);
}
.run-p{
    margin-top: 15px;
    font-size: 0.750rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    
}
.run-title{
    margin: 40px 165px 40px 54px;
  
}
.run-btn{
    padding: 16px 50px;
font-weight: 600;
font-size: 1.125rem;
color: rgb(255 255 255);
background-color: rgb(230, 83, 60);
border-radius: 50px;
border: none;
}

/*  new section Start Trainer */
.our-teams-title{
margin: 100px 200px 50px 200px;
text-align: center;
/* max-width: 1060px; */
}
.our-teams-title-h{
font-size: 3rem;
font-weight: 900;
color: rgb(255 255 255);
}
.our-teams-title-p{
    text-align: center;
    width: 755px;
    font-size: 1.125rem;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.5);
    margin: auto;
}
.trainer-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    margin-top:0px;
    justify-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 25px;
    border-radius: 20px;
    max-width: 1040px;
    margin-left: 190px;
    margin-right: 190px;
    margin-bottom: 100px;
    
    
}
.trainer-img img{
    width: 290px;
    height: 275px;
    border-radius: 20px;
}
.trainer-h{
color:white;
font-size: 1.3rem;
font-weight: 600;
margin-top:-65px;
margin-left: 10px;
}
.trainer-h-1{
    display: none;
    color:white;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top:-65px;
    margin-left: 10px;
    }
.trainer-p{
    margin-left: 10px;
    margin-top:-30px;
    font-size: 0.875rem;
    color: rgb(189, 187, 187);
    font-weight: 500;
}

/*  footer contant */
.last-part{
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 50px;
  
   
}
.footer-fitness{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 1440px;
    /* background-color: rgba(255, 255, 255, 0.1); */
    text-align: left;
    padding:50px;
    
}
.footer-fitness ul li{
    list-style: none;
    margin-bottom: 10px;
}
.footer-fitness ul li a{
    color:rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    /* text-align: left; */
   
}
.div-01{
    width: 440px;
    padding:0px;
    margin-left: 150px;
}
.div-03{
   padding: 0px;
   margin-right: 110px;
}

.div-01-h{
    margin-bottom: 0;
    margin-top: 0px;
    font-size: 3rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
.div-01-p{
color: rgb(255, 255, 255, 0.5);
font-weight: 400;
font-size: 0.900rem;
}
.div-02-h{
    margin-top: 0;
font-weight: 700;
font-size: 1.5rem;
color: rgb(255, 255, 255);
text-align: left;
margin: auto;
margin-left: 38px;

}
.div-03-h{
    margin-top: 0;
    font-weight: 700;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-align:left;
    margin: auto;
    margin-left: 38px;


}
.horzental{
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin-left:190px;
    margin-right: 190px;
    margin-bottom: 0;
}
.footer-p{
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
    padding: 25px 0px;
}

/* table -form */
.c-color{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font: size 1.75em;
    margin-bottom:50px ;
}
.c-color-01{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font: size 1.75em;
    margin-bottom:10px ;
}
table{
    
    border-collapse:collapse;
    width: 310px;;
}
table th{
    
text-align: center;
    font-weight: 500;
    font-size: 1rem;
    color: rgba(255, 255, 255);
}
table td{
    
text-align:left;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: .750rem;
  
}
th,td{

padding: 10px 25px;
border:1px solid rgba(255, 255, 255, 0.1);


}
.calculator-title-p{
    color: rgba(255, 255, 255, 0.5);
font-weight: 400;
font-size: 0.875rem;
margin-bottom: 40px;
}

.calculator-title-h{
font-size: 3rem;
font-weight: 900;
color:rgb(255, 255, 255);
margin-bottom: 0px;

}
.calculator-title{
    text-align: left;
    margin:90px 375px 90px 360px;
    
}

.table-form{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34,34,34);
    padding-left: 190px;
    padding-right:190px;
    padding-top: 50px;
    padding-bottom: 50px;
    /* color: rgba(255, 255, 2555, 0.6); */
}
.form-div{
   margin-bottom: 15px; 
}
.flex-div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
    /* padding-left: 175px; */
}
.flex-div input,select{
    padding: 12px 0px 12px 20px;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
    /* margin-top: 20px; */
    font-family:"Inter";
}
select option{
    background-color:rgb(57, 57, 57);
    /* color: rgba(255, 255, 255, 0.3); */

}

.form{
   padding-left: 115px;

}
.Extra-width select{
    width: 100%;
     background-color:rgb(57, 57, 57); 
     color:rgba(255, 255, 2555, 0.3);
     font-family: "Inter";
}











































/* reponse design */

@media screen and (max-width:576px) {
/* banner and header */
.Header{
  
    padding-left: 20px;
    height: 1200px;
  
    
}
.nav-title{
    display: none;
   
}
#b-img-p{
    padding-left: 45px;
    padding-right:250px;
    
}
.plus-350{
    margin-top: -297px;
    margin-left:-10px;
    padding: 2px;
}
.btn-500{
    margin-top: -260px;
    margin-left:190px;
    margin-right: -60px;
    padding-right: 30px;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
  
}
.banner{
display:grid;
grid-template-columns: repeat(1,1fr);
padding-left:0px;
margin-top:0px;

}

.hamberger{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   margin-left: 300px;
   margin-right: 20px;
    

}
.btn-b-1{
    margin-left: 30px;
}
.banner-p{
    font-size: 1.3rem;
    font-weight:400;
    width: 374px;
    letter-spacing:0.5px;
    
}
.hamberger img{
height: 24px;
width: 24px;
}



/* end Banner */
.our-habits{
    margin-top: 50px;
}
    .habits-title{
        width: 100%;
    }
.habits-title h2{
    font-size: 3rem;
   
}
.habit-p{
    width:70%;
    margin:auto;
    font-size: 1rem;
    
    }
 .habits-img{

display: grid; 
 grid-template-columns: repeat(1,1fr); 
    }
    .img-card{
        margin-bottom: 10px;
    }
    .img-card h4{
        margin-top: 15px;
        margin-bottom: 0;
    }
    .img-card p{
        margin-top: 5px;
        font-size: .775rem;
    }
/* run section  */
.run{
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: auto;
    margin-top: 50px;
    padding-bottom: 50px;
}
.run-title{
    width: 295px;
    margin:20px 0px 20px -50px;


}
.run-title p{
font-size: 0.900rem;
}
.run-btn{
    padding:20px 110px 20px 110px;
font-weight: 600;
font-size:1rem;
color: rgb(255 255 255);
background-color: rgb(230, 83, 60);
border-radius: 50px;
border: none;
width: 100%;
}
/* our Teams */
.our-teams-title{
    flex-direction: column;
    width: 50%;
    margin:auto;
    /* margin-bottom: 10px; */

}
.our-teams-title-h{
    width:100%;
}
.trainer-img{
    grid-template-columns: repeat(1,1fr);
    width: 50%;
    margin: auto;
    padding:15px 30px 20px 20px;
    
}
.our-teams-title-h{
    margin-top: 50px;
font-size: 2rem;
font-weight: 1200;
margin-bottom: 10px;
font-family:"Inter";


}
.our-teams-title-p{
    width: 100%;
    font-size: 0.900rem;
    font-weight: 300;
    margin-bottom: 30px;
}
.jerome-bell{
    display: none;
    /* padding:20px 25px 20px 15px; */
}
.c-w{
    padding-bottom: 10px;
    margin-top: 10px;
}
.trainer-h{
    display:none;
}
.trainer-h-1{
     display: block;
    color:white;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top:-65px;
    margin-left: 10px;
    } 
/* footer part */
.footer-fitness{
    grid-template-columns: repeat(1,1fr);
    text-align: left;
    width: 100%;
    margin-top: 20px;
    
}
.horzental{
    width: 90%;
    margin: auto; 
}
.div-01{
    text-align: left;
    margin-left:0;
}
.div-01-p{
    font-size: 1.4rem;

}
.div-02, .div-03{
    margin-left:-40px;
}
/* calculator section */
.calculator{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    text-align: left;
    /* width: 50%; */
    margin-bottom: 20px;
}
.table-form{
   display:grid;
   grid-template-columns: repeat(1,1fr);
padding-left:25px;
/* margin-right:0px; */
    
    
}

.form{
    padding-top: 30px;
padding-left: 0px;
padding-right: auto;


}
.calculator-title-h{
font-size: 2rem;
width:100%;
}
.calculator-title-p{
    font-size: 0.875rem;
    font-weight:400;
    letter-spacing: 0.3px;
    width: 60%;
}
.calculator-p{
    font-size: 0.875rem;
    font-weight:400;
    letter-spacing: 0.3px;
    padding-right: 150px;
    width: 100%;
}
.calculator-title{
    
    margin-left:25px;
    width: 100%;
    /* letter-spacing: 0.3px; */
}
.btn-b-01{
    padding: 15px 75px;
    font-weight: 600;
    font-size:1rem;
    color: rgb(255 255 255);
    background-color: rgb(230, 83, 60);
    border-radius: 50px;
    border: none;
    width: 65%;
}
.form-div {
    width: 100%;
}
.form-div input{
    width:85%;
}
.calculator{
    width:100%;
}




























}

